<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GROCERY</title>
    <link rel="shortcut icon" href="/static/assets/GROCERY_icon.ico">
    <link rel="stylesheet" href="/static/bundle.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {"packages": ["bar"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var effectiveData = google.visualization.arrayToDataTable([
                ["Rating", "Number of votes"],
                ["Strongly disagree", 0],
                ["Disagree", 0],
                ["Neutral", 8],
                ["Agree", 44],
                ["Strongly agree", 88]
            ]);

            var clarityData = google.visualization.arrayToDataTable([
                ["Rating", "Number of votes"],
                ["Strongly disagree", 0],
                ["Disagree", 0],
                ["Neutral", 6],
                ["Agree", 45],
                ["Strongly agree", 89]
            ]);

            var comprehensionData = google.visualization.arrayToDataTable([
                ["Rating", "Number of votes"],
                ["Strongly disagree", 0],
                ["Disagree", 1],
                ["Neutral", 10],
                ["Agree", 33],
                ["Strongly agree", 96]
            ]);

            var questionsData = google.visualization.arrayToDataTable([
                ["Rating", "Number of votes"],
                ["Strongly disagree", 0],
                ["Disagree", 2],
                ["Neutral", 8],
                ["Agree", 48],
                ["Strongly agree", 82]
            ]);

            var availabilityData = google.visualization.arrayToDataTable([
                ["Rating", "Number of votes"],
                ["Strongly disagree", 0],
                ["Disagree", 0],
                ["Neutral", 7],
                ["Agree", 34],
                ["Strongly agree", 99]
            ]);

            var productivityData = google.visualization.arrayToDataTable([
                ["Rating", "Number of votes"],
                ["Strongly disagree", 0],
                ["Disagree", 3],
                ["Neutral", 6],
                ["Agree", 35],
                ["Strongly agree", 96]
            ]);
            var select = document.getElementById("criteria-input")

            var options = {
                chart: {
                    title: "Instructor was an effective lecturer",
                },
                fontSize: 25,
                colors: "#03DAC5",
                vAxis: {
                    title: "Number of votes",
                    titleTextStyle: {
                        fontSize: 13
                    },
                    textStyle: {
                        fontSize: 13
                    },
                    // gridlines: {
                    //   color: "#442C2E",
                    // },
                },
                hAxis: {
                    // Slanted text not supported yet for Material versions
                    // slantedText: true,
                    // slantedTextAngle: 45,
                    titleTextStyle: {
                        fontSize: 13
                    },
                    textStyle: {
                        fontSize: 13
                    },
                },
                legend: {
                    position: "none"
                }
            };

            var chart = new google.charts.Bar(document.getElementById("columnchart_material_aisle"));

            chart.draw(effectiveData, google.charts.Bar.convertOptions(options));

            select.onchange = function (e) {
                if (e.target.value === "effectiveness") {
                    options.chart.title = "Instructor was an effective lecturer";
                    chart.draw(effectiveData, google.charts.Bar.convertOptions(options));
                }
                ;
                if (e.target.value === "clarity") {
                    options.chart.title = "Instructor presented the subject matter clearly";
                    chart.draw(clarityData, google.charts.Bar.convertOptions(options));
                }
                ;
                if (e.target.value === "comprehension") {
                    options.chart.title = "Lectures I attended helped me understand the content";
                    chart.draw(comprehensionData, google.charts.Bar.convertOptions(options));
                }
                ;
                if (e.target.value === "questions") {
                    options.chart.title = "Instructor answered questions clearly and effectively";
                    chart.draw(questionsData, google.charts.Bar.convertOptions(options));
                }
                ;
                if (e.target.value === "availability") {
                    options.chart.title = "Instructor was available and helpful";
                    chart.draw(availabilityData, google.charts.Bar.convertOptions(options));
                }
                ;
                if (e.target.value === "productivity") {
                    options.chart.title = "Instructor effectively used time during class periods";
                    chart.draw(productivityData, google.charts.Bar.convertOptions(options));
                }
                ;
            }
        };
    </script>

<body class="home">

<div class="grocery-body">
    <section class="header mdc-typography">
        <h1 class="mdc-typography--headline2">Consumer insights</h1>
    </section>
    <div class="mdc-layout-grid plot-list">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell">
                <body class="mdc-typography">
                </body>
                <body class="aisle-chart">
                <br/>
                <br/>
                <div class="mdc-select mdc-select--box">
                    <select class="mdc-select__native-control" id="criteria-input" required>
                        <option value="effectiveness" selected>Effectiveness</option>
                        <option value="clarity">Clarity</option>
                        <option value="comprehension">Comprehension</option>
                        <option value="questions">Questions</option>
                        <option value="availability">Availability</option>
                        <option value="productivity">Productivity</option>
                    </select>
                    <label class="mdc-floating-label mdc-floating-label--float-above" for="criteria-input">
                        Criteria
                    </label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <br/>
                <br/>
                <br/>
                <div id="columnchart_material_aisle" style="width: 100%; height: 500px;"></div>
                </body>
            </div>
            <br/>
            <br/>
            <div id="linechart_material_dow_tot" style="width: 100%; height: 500px"></div>
</body>
</div>
</div>
</div>
</div>
<script src="/static/bundle-insights.js" async></script>
</body>
