<h4 class="mdc-typography--headline4">GROCERY</h4>
<h4 class="mdc-typography--body1">
  A recommendation system predicting the grocery items a user will buy
</h4>
<div
  class="GROCERY-screenshot mdc-card mdc-elevation--z8 mdc-ripple-surface mdc-ripple-surface--primary"
>
  <a href="https://grocery-paulo.herokuapp.com/">
    <img
      class="project-preview"
      src="{{ url_for('static', filename='GROCERY.png') }}"
      alt="GROCERY screenshot"
    />
  </a>
  <script>
    mdc.ripple.MDCRipple.attachTo(
      document.querySelector(".GROCERY-screenshot")
    );
  </script>
</div>
<p class="mdc-typography--caption">
  The site is hosted on Heroku, so it will take a minute to load.
</p>
<p class="mdc-typography--body1">
  At The Data Incubator, I analyzed over 3 million orders from Instacart—a
  grocery delivery service. Using this data I was able to make a recommendation
  system that would predict the groceries people will buy. The model compares a
  user’s order history to that of all other customers in the database using
  tf–idf. The model then predicts what a user will order based on the purchase
  history of customers most similar to the user.
</p>
<div id="youtube">
  <iframe
    class="video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/bZ2ec29wSt8?color=white"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<p class="mdc-typography--body1">
  In addition to predicting orders using my model, I was also able to produce
  some interesting insights into people’s purchase habits. For example, there
  are some clear correlations between the time of the day and the type of foods
  that are bought. Did you know that cake reaches it’s peak consumption at 2:00
  am? Click on the picture up top to visit the GROCERY website, then click the
  insights tab to learn other interesting trends about how people buy their
  food.
</p>
<h4 class="mdc-typography--headline4">Dress up</h4>
<h4 class="mdc-typography--body1">
  A Unicode converter and demo of best Python practices
</h4>
<div
  class="dress-up-gif mdc-card mdc-elevation--z8 mdc-ripple-surface mdc-ripple-surface--primary"
>
  <a href="https://github.com/pscosta5/dressup">
    <img
      class="project-preview"
      src="{{ url_for('static', filename='dress_up.gif') }}"
      alt="Dress up animation"
    />
  </a>
  <script>
    mdc.ripple.MDCRipple.attachTo(document.querySelector(".dress-up-gif"));
  </script>
</div>
<p class="mdc-typography--caption">
  Dress up's command-line interface can be used to quickly convert between
  unicode characters.
</p>
<p class="mdc-typography--body1">
  Dress up is a library written in Python that makes converting between
  different Unicode types easy. A user can go from "words" to "𝔴𝔬𝔯𝔡𝔰", "🆆🅾🆁🅳🆂",
  and "𝔀𝓸𝓻𝓭𝓼" using Dress up as either a command-line interface or a Python
  library.
</p>
<p class="mdc-typography--body1">
  Most importantly, Dress up serves as a demonstration of what I think are the
  current best practices in Python development. It features strong linting via
  <a class="body-link" href="https://github.com/PyCQA/flake8">Flake8</a> and
  select plugins, high test coverage through
  <a class="body-link" href="https://github.com/pytest-dev/pytest">pytest</a>,
  generated documentation via
  <a class="body-link" href="https://github.com/sphinx-doc/sphinx">Sphinx</a>,
  type hinting, and a robust CI/CD framework powered by
  <a class="body-link" href="https://github.com/theacodes/nox">Nox</a> and
  <a class="body-link" href="https://github.com/features/actions"
    >GitHub Actions</a
  >.
</p>
<p class="mdc-typography--body1">
  Check out the repository at
  <a class="body-link" href="https://github.com/pscosta5/dressup"
    >https://github.com/pscosta5/dressup</a
  >!
</p>
<h4 class="mdc-typography--headline4">Miscellaneous projects</h4>
<div
  class="other-projects-screenshot mdc-card mdc-elevation--z8 mdc-ripple-surface mdc-ripple-surface--primary"
>
  <a href="https://github.com/pscosta5/Personal-data-science-projects">
    <img
      class="project-preview"
      src="{{ url_for('static', filename='other_projects.png') }}"
      alt="Projects screenshot"
    />
  </a>
  <script>
    mdc.ripple.MDCRipple.attachTo(
      document.querySelector(".other-projects-screenshot")
    );
  </script>
</div>
<p class="mdc-typography--body1">
  I have various other personal data science projects such as creating SQL
  databases out of baseball game data, studying gender gaps and earnings based
  on college degrees, and predicting car market prices based on vehicle features
  using k-NN algorithms.
</p>
